body {
  font-family: sans-serif;
}

.my-component {
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 2px;
  padding: 1rem;

  h1 {
    margin: 0 0 1rem 0;
  }

  h2 {
    font-weight: normal;
  }
}
